#IconPokeboll{
  position: absolute;
  margin-left: 50px;
  margin-top: 30px;
  height: 50px;
  width: 50px;
  z-index: 10;
}
.PokemonScreen{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100% 100%;
}
.pokemonCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}