#pokemonBody{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: #DC0A2D;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content_pokemon{
    display: block;
    width: 1200px;
    height: 750px;
    background-color: aqua;
    border-bottom-left-radius: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #D9D9D9;
}